@model GetRiddles.Models.Riddles

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Riddles</h4>
<hr />
<body id="createbody">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Riddle" class="control-label"></label>
                <input asp-for="Riddle" class="form-control" />
                <span asp-validation-for="Riddle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div> <br />
            <div class="form-group">
                <input type="submit" value="Create" id="btncreate" @*class="btn btn-primary"*@ />
            </div> <br />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" id="urllinkcreate">Back to List</a>
</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
