<h4>Search For A Riddle!</h4>
<body id="searchbody">
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResults">         
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" />        
            </div>
            <div class="form-group"><br />
                <input type="submit" value="Search" id="btnsearch" @*class="btn btn-primary"*@ />
            </div>
        </form>
    </div>
</div>
<div>
    <br />
    <a asp-action="Index" id="urllinksearchform">Back to List</a>
</div>
</body>
