@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GOT RIDDLES!?</h1>
 
    <br /><br /><br /><br />

    <p>
        Welcome to my first website!<br /><br /><br />
        Here, you can check out some awsome riddles!<br />
        If you create an account, you can also add, edit, and delete your own riddles!
    </p>
</div>
